table {
	border-collapse: collapse;
}

a {
	text-decoration: none;
	color: inherit;
}

.title-page {
	width: 100%;
	text-align: right;
	padding-right: 100px;
	padding-top: 400px;
	line-height: 30px;
}

.title-page__year {
	font-weight: bold;
	font-size: 90pt;
}

.title-page__recalendar {
	font-size: 25pt;
	color: #999;
}

.ui-datepicker-header {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #888;
}

.ui-datepicker-calendar {
	font-size: 10pt;
	width: 100%;
	text-align: center;
}

.calendar-week.highlight-week {
	background-color: #CCC;
}

.calendar-day {
	color: black;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	width: 15px;
	height: 15px;
	line-height: 15px;
	border: none;
}

.calendar-day.first-week {
	border-top: 1px solid black;
}

.calendar-day.weekend-day {
	font-weight: bold;
}

.calendar-day.highlight-day {
	background-color: #CCC;
}

.calendar-day.special-date {
	border: 1px solid #555;
}

.calendar-day.other-month {
	color: #999;
}

.calendar-box {
	border-left: 1px solid black;
	padding: 0px 10px 5px 10px;
	width: 100px;
	border-bottom: 1px solid black;
}

.calendar__week-number {
	border-right: 1px solid black;
}

th.calendar__week-number,
th.calendar__week-retrospective {
	border-bottom: 1px solid black;
}

td.calendar__week-number,
td.calendar__week-retrospective {
	color: #888;
}

.calendar__week-retrospective {
	border-left: 1px solid black;
}

td.calendar__week-number {
	color: #888;
}

.calendar__previous-month,
.calendar__next-month {
	color: #AAA;
	font-size: 18px;
	font-weight: bold;
}

.calendar__full-month-name {
	color: black;
	letter-spacing: 1px;
	font-size: 12pt;
}

.header-line {
	text-align: right;
	text-transform: uppercase;
	font-size: 20pt;
	padding-right: 10px;
}

.header-type {
}

.year-overview__title {
	text-align: center;
	font-size: 60pt;
	padding-top: 30px;
	margin-bottom: 20px;
}

.year-overview__calendars {
	width: 100%;
}

.year-overview__row {
}

.year-overview__calendar {
	vertical-align: top;
	padding: 5px;
}

.month-overview__month-name {
	text-transform: uppercase;
	font-size: 35pt;
	font-weight: bold;
}

.month-overview__habit-header {
	width: 22px;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
}

.month-overview__habit-header.name {
	text-transform: capitalize;
	font-weight: normal;
	font-size: 7pt;
}

.month-overview__habit-header.disabled {
	background: white;
	border: 1px solid white;
}

.month-overview__habit-header.weekend,
.month-overview__habit-box.weekend {
	background: #EEE;
}

.month-overview__habit-name {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	font-weight: bold;
	width: 100px;
	height: 20px;
}

.month-overview__habit-box {
	border: 1px solid #999;
}

.month-overview__habit-box.disabled {
	background: white;
	border: 1px solid white;
}

.day-entry__month-name,
.week-overview__week-name,
.week-retrospective__week-name {
	text-align: right;
	font-size: 18pt;
	text-transform: uppercase;
	padding-top: 35px;
}

.week-retrospective__week-name {
	padding-top: 12px;
}

.week-overview__day-of-week {
	color: #333;
}

.day-entry__day-number,
.week-overview__day-number,
.week-retrospective__day-number {
	width: 90px;
	text-align: center;
	font-size: 50pt;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.day-entry__special-items {
	vertical-align: bottom;
	font-style: italic;
	font-size: 10pt;
	padding: 10px;
}

.day-entry__special-item {
}

.day-entry__day-of-week {
	vertical-align: bottom;
}

.day-entry__previous-day,
.day-entry__next-day,
.week-overview__previous-week,
.week-overview__next-week,
.week-retrospective__previous-week,
.week-retrospective__next-week {
	font-size: 20pt;
	color: #AAA;
	width: 22px;
}

.day-entry__previous-day,
.week-overview__previous-week,
.week-retrospective__previous-week {
	padding-left: 10px;
}

.day-entry__next-day,
.week-overview__next-week,
.week-retrospective__next-week {
	padding-right: 10px;
}

.content-box {
	width: 100%;
}

.content-box-line {
	width: 100%;
	border-bottom: 1px solid #AAA;
	height: 20pt;
	padding: 0 0 0 10px;
	font-size: 12pt;
	font-weight: bold;
	text-transform: uppercase;
}

.week-overview__day-entry {
	border: 1px dotted black;
	width: 33%;
	vertical-align: top;
	padding: 5px;
}

.week-overview__day-of-week {
	width: 50%;
	font-size: 12pt;
	font-weight: bold;
	text-transform: capitalize;
}

.week-overview__date {
	text-align: right;
	width: 50%;
	text-transform: uppercase;
	font-size: 12pt;
}

.week-overview__notes {
	vertical-align: top;
	font-style: italic;
	font-size: 10pt;
	padding: 10px;
}

.week-overview__special-item {
	font-size: 10pt;
}

.week-overview__range,
.week-retrospective__range {
	text-transform: uppercase;
	font-size: 18pt;
	border-bottom: 1px solid black;
}
